@page "/"
@inject HttpClient Http

<PageTitle>NBA Database</PageTitle>

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="canasta">
        <img class="canastaImagen" src="/assets/image/canasta.png" />
    </div>
    <div class="cuadradBuscador">
        <label for="search-input" class="jugadorBuscador">Buscar Jugador:</label>
        <input type="text" id="search-input" name="search-input">
    </div>
    <div class="posRetro">
        <button class="botonRetro" @onclick=" ()=> Retroceder()">&lt;&lt;</button>
    </div>
    <div class="posAvan">
        <button class="botonAvan" @onclick="() => Avanzar()">>></button>
    </div>
    <div class="posCont">
        <div class="cajaCont">@ContarPag()/@LIMITECONTADOR</div>
    </div>
    <button class="ordenarNombres"  @onclick="() => OrdenarNombre()">
        Ordenar Nombre A-Z/Z-A
    </button>
    <div id="tabla">
        <table class="table">
            <thead>
                <tr>
                    <th class="nombre">Nombre
                        <button class="ordenarIcono ordenarNombre" @onclick="() => OrdenarNombre()">
                            <img class="flechas" src="./assets/image/ordenarFlechas.png" />
                        </button>
                    </th>
                    <th class="edad">Edad
                        <button class="ordenarIcono ordenarEdad" @onclick="() => OrdenarEdad()">
                            <img class="flechas" src="./assets/image/ordenarFlechas.png" />
                        </button>
                    </th>
                    <th class="altura">Altura
                        <button class="ordenarIcono ordenarAltura" @onclick="() => OrdenarAltura()">
                            <img class="flechas" src="./assets/image/ordenarFlechas.png" />
                        </button>
                    </th>
                    <th class="equipo">Equipo
                        <button class="ordenarIcono ordenarEquipo" @onclick="() => OrdenarEquipo()">
                            <img class="flechas" src="./assets/image/ordenarFlechas.png" />
                        </button>
                    </th>
                    <th class="pais">País
                        <button class="ordenarIcono ordenarPais" @onclick="() => OrdenarPais()">
                            <img class="flechas" src="./assets/image/ordenarFlechas.png" />
                        </button>
                    </th>
                    <th class="temporada">Temporada</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in AgregarEliminar(contador))
                {
                    @if (player != null)
                    {
                        <tr>
                            <td class="nombre">@player.Player_name</td>
                            <td class="edad">@player.Age</td>
                            <td class="altura">@player.Player_heightM m</td>
                            <td class="equipo">@player.Team_abbreviation<img class="imagenEquipo" src="@player.DaImagenGeneral(player.Team_abbreviation)" /></td>
                            <td class="pais">@player.Country<img class="imagenEquipo" src="@player.DaImagenGeneral(player.Country)" /></td>
                            <td class="temporada">@player.Season</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
}

