@page "/"
@inject HttpClient Http

<PageTitle>NBA Database</PageTitle>

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="canasta">
        <img class="canastaImagen" src="/assets/image/canasta.png" />
    </div>
    <div class="cuadradBuscador">
        <label for="search-input" class="jugadorBuscador">Buscar Jugador:</label>
        <input type="text" id="search-input" name="search-input">
    </div>
    <div id="tabla">
        <table class="table">
            <thead>
                <tr>
                    <th class="nombre">Nombre</th>
                    <th class="edad">Edad</th>
                    <th class="altura">Altura</th>
                    <th class="equipo">Abreviatura equipo</th>
                    <th class="pais">País procedencia</th>
                    <th class="temporada">Temporada (T.)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in players)
                {
                    <tr>
                        <td class="nombre">@player.Player_name</td>
                        <td class="edad">@player.Age</td>
                        <td class="altura">@player.Player_heightM m</td>
                        <td class="equipo">@player.Team_abbreviation<img class="imagenEquipo" src="@player.DaImagenGeneral(player.Team_abbreviation)" /></td>
                        <td class="pais">@player.Country<img class="imagenEquipo" src="@player.DaImagenGeneral(player.Country)" /></td>
                        <td class="temporada">@player.Season</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}

