@page "/"
@inject HttpClient Http

<PageTitle>NBA Database</PageTitle>

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="celda1">Nombre</th>
                <th class="celda2">Edad</th>
                <th class="celda1">Altura</th>
                <th class="celda1">Peso</th>
                <th class="celda1">Abreviatura equipo</th>
                <th class="celda1">Universidad</th>
                <th class="celda1">País procedencia</th>
                <th class="celda1">Entrada NBA</th>
                <th class="celda1">Partidos jugados</th>
                <th class="celda1">Temporada (T.)</th>
                <th class="celda1">Media de puntos T.</th>
                <th class="celda1">Media de rebotes T.</th>
                <th class="celda1">Media de asistencias T.</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in players)
            {
                <tr>
                    <td class="celda1">@player.Player_name</td>
                    <td class="celda2">@player.Age</td>
                    <td class="celda1">@player.Player_heightM m</td>
                    <td class="celda1">@player.Player_weightG kg</td>
                    <td class="celda1">@player.Team_abbreviation</td>
                    <td class="celda1">@player.College</td>
                    <td class="celda1">@player.Country</td>
                    <td class="celda1">@player.Draft_year</td>
                    <td class="celda1">@player.Gp</td>
                    <td class="celda1">@player.Pts</td>
                    <td class="celda1">@player.Reb</td>
                    <td class="celda1">@player.Ast</td>
                    <td class="celda1">@player.Season</td>
                </tr>
            }
        </tbody>
    </table>
}

