@page "/"
@inject HttpClient Http

<PageTitle>NBA Database</PageTitle>

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Altura</th>
                <th>Peso</th>
                <th>Abreviatura equipo</th>
                <th>Universidad</th>
                <th>País procedencia</th>
                <th>Entrada NBA</th>
                <th>Partidos jugados</th>
                <th>Temporada (T.)</th>
                <th>Media de puntos T.</th>
                <th>Media de rebotes T.</th>
                <th>Media de asistencias T.</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in players)
            {
                <tr>
                    <td>@forecast.Player_name</td>
                    <td>@forecast.Age</td>
                    <td>@forecast.Player_heightM m</td>
                    <td>@forecast.Player_weightG kg</td>
                    <td>@forecast.Team_abbreviation</td>
                    <td>@forecast.College</td>
                    <td>@forecast.Country</td>
                    <td>@forecast.Draft_year</td>
                    <td>@forecast.Gp</td>
                    <td>@forecast.Pts</td>
                    <td>@forecast.Reb</td>
                    <td>@forecast.Ast</td>
                    <td>@forecast.Season</td>
                </tr>
            }
        </tbody>
    </table>
}

