@page "/"
@inject HttpClient Http

<PageTitle>NBA Database</PageTitle>

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="canasta">
        <img class="canastaImagen" src="/assets/image/canasta.png" />
    </div>
    <div class="cuadradBuscador">
        <input @bind="searchTerm" class="cuadroBuscar" placeholder="Nombre jugador" />
        <button class="botonBuscar" @onclick="() => Buscar()">Buscar</button>
    </div>
    <div class="posRetro">
        <button class="botonRetro" @onclick=" ()=> Retroceder()">&lt;&lt;</button>
    </div>
    <div class="posAvan">
        <button class="botonAvan" @onclick="() => Avanzar()">>></button>
    </div>
    <div class="posCont">
        @*<div class="cajaCont">@ContarPag()/@LIMITECONTADOR</div>*@
        <div class="cajaCont">xxxx</div>
    </div>
    <button class="ordenarNombres"  @onclick="() => OrdenarNombre()">
        Ordenar Nombre A-Z/Z-A
    </button>
    <div id="tabla">
        <table class="table">
            <thead>
                <tr>
                    <th class="nombre">Nombre
                        <button class="ordenarIcono ordenarNombre" @onclick="() => OrdenarNombre()">
                            <img class="flechas" src="./assets/image/ordenarFlechas.png" />
                        </button>
                    </th>
                    <th class="edad">Edad
                        <button class="ordenarIcono ordenarEdad" @onclick="() => OrdenarEdad()">
                            <img class="flechas" src="./assets/image/ordenarFlechas.png" />
                        </button>
                    </th>
                    <th class="altura">Altura
                        <button class="ordenarIcono ordenarAltura" @onclick="() => OrdenarAltura()">
                            <img class="flechas" src="./assets/image/ordenarFlechas.png" />
                        </button>
                    </th>
                    <th class="equipo">Equipo
                        <button class="ordenarIcono ordenarEquipo" @onclick="() => OrdenarEquipo()">
                            <img class="flechas" src="./assets/image/ordenarFlechas.png" />
                        </button>
                    </th>
                    <th class="pais">País
                        <button class="ordenarIcono ordenarPais" @onclick="() => OrdenarPais()">
                            <img class="flechas" src="./assets/image/ordenarFlechas.png" />
                        </button>
                    </th>
                    <th class="temporada">Temporada</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in GetPlayersForCurrentPage())
                {
                    @if (player != null)
                    {
                        <tr>
                            <td class="nombre">
                                <a @onclick="() => MostrarInformacion(player)" style="cursor: pointer;">@player.Player_name</a>
                            </td>
                            <td class="edad">@player.Age</td>
                            <td class="altura">@player.Player_heightM m</td>
                            <td class="equipo"><img class="imagenEquipo" src="@player.DaImagenGeneral(player.Team_abbreviation)" /></td>
                            <td class="pais"><img class="imagenEquipo" src="@player.DaImagenGeneral(player.Country)" /></td>
                            <td class="temporada">@player.Season</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>

    @if (mostrarInformacion)
    {
        <div class="overlay">
        <div class="tarjeta">
            <div class="cerrar" @onclick="CerrarInformacion">Cerrar</div>
            <div class="contenido">
                <!-- Aquí muestras la información detallada del jugador -->
                <h3>@jugadorSeleccionado.Player_name</h3>
                <p>Edad: @jugadorSeleccionado.Age</p>
                <p>Altura: @jugadorSeleccionado.Player_heightM m</p>
                <p>Equipo: @jugadorSeleccionado.Team_abbreviation</p>
                <p>País: @jugadorSeleccionado.Country</p>
                <p>Temporada: @jugadorSeleccionado.Season</p>
                <!-- Agrega más detalles si es necesario -->
            </div>
        </div>
        </div> <!-- Agrega un div overlay para bloquear la interacción -->
    }
}

@code {
    private bool mostrarInformacion = false;
    private PlayersName jugadorSeleccionado;

    private void MostrarInformacion(PlayersName player)
    {
        jugadorSeleccionado = player;
        mostrarInformacion = true;
    }

    private void CerrarInformacion()
    {
        mostrarInformacion = false;
    }
}
