@page "/"
@inject HttpClient Http

<PageTitle>NBA Database</PageTitle>

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Altura</th>
                <th>Peso</th>
                <th>Abreviatura de equipo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in players)
            {
                <tr>
                    <td>@forecast.Player_name</td>
                    <td>@forecast.Age</td>
                    <td>@forecast.Player_heightM m</td>
                    <td>@forecast.Player_weightG kg</td>
                    <td>@forecast.Team_abbreviation</td>
                </tr>
            }
        </tbody>
    </table>
}

